# Eclipse
.classpath
.project
.settings/

# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# Minecraft
run/
runs/

# OS files
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear
*.logs
*.log

# Other
*.bak
*.tmp
*.swp
*~
